In [1]:
# Tratamiento de datos
import pandas as pd
import numpy as np

# Visualización
import matplotlib.pyplot as plt
import seaborn as sns

# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [2]:
def apertura_exploracion(csv):

    """ Función para leer csv, convertir a df y hacer una primera exploración."""
    
    try:
        # Convertir el csv a DataFrame
        df = pd.read_csv(f"../files/{csv}.csv")        

        # Muestro las primeras filas
        display(df.head())

        # Obtengo las listas
        print(f"-----\n\nEl DataFrame tiene {df.shape[0]} filas y {df.shape[1]} columnas.\n-----")

        # Consulto si hay filas duplicadas
        print(f"\nEl número de filas duplicadas es {df.duplicated().sum()}\n-----")

        # Muestro el tipo de dato y si hay nulos por cada columna
        print("\nInformación del DataFrame:")
        df.info()

        # Muestro las estadísticas de columnas numéricas
        print("-----\n\nEstadísticas descriptivas:")
        display(df.describe().T)

        # Me devuelve un df que tendré que igualar a una variable
        return df  

    # Excepciones en caso de no enconrar el archivo o de que haya un error
    except FileNotFoundError:
        print(f"Error: No se encontró el archivo '../files/{csv}.csv'.")
        return None  
    
    except Exception as e:
        print(f"Ocurrió un error: {e}")
        return None

In [3]:
df_prod = apertura_exploracion("brand_products")

,Unnamed: 0,productId,productName,brandName,url,price,stockState,comingSoon,colorName,isOnline,colors,colorShades,newArrival,mainCatCode,details,materials
0,0,834333001,Derby Shoes,H&M,https://www2.hm.com/en_us/productpage.08343330...,49.99,Available,False,Black,True,272628,Charcoal,False,men_shoes_dressed,Derby shoes with open lacing at front. Canvas ...,COMPOSITION\nSole:Thermoplastic rubber 100%\nU...
1,1,1258600003,Pile-Lined Slippers,H&M,https://www2.hm.com/en_us/productpage.12586000...,24.99,Available,False,Black,True,272628,Charcoal,False,men_shoes_slippers,Slippers in napped fabric. Decorative seam at ...,COMPOSITION\nLining:Polyester 100%\nUpper:Poly...
2,2,1036812001,Derby Shoes,H&M,https://www2.hm.com/en_us/productpage.10368120...,56.99,Available,False,Black,True,272628,Charcoal,False,men_shoes_dressed,Derby shoes in soft faux suede with open lacin...,COMPOSITION\nLining and insole:Cotton 100%\nUp...
3,3,1112924002,Fleece-lined Slippers,H&M,https://www2.hm.com/en_us/productpage.11129240...,29.99,Available,False,Dark blue,True,393B47,Bright blue|Cobalt blue|Dark blue|Indigo|Navy ...,False,men_shoes_slippers,Slippers in woven fabric with a moccasin seam ...,COMPOSITION\nLining:Polyester 100%\nUpper:Poly...
4,4,1119476020,Sneakers,H&M,https://www2.hm.com/en_us/productpage.11194760...,29.99,Available,False,White,True,FFFFFF,NaN,False,men_shoes_sneakers,"Sneakers with a padded upper edge and tongue, ...",COMPOSITION\nLining:Polyester 100%\nUpper:Poly...

-----

El DataFrame tiene 9677 filas y 16 columnas.
-----

El número de filas duplicadas es 0
-----

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9677 entries, 0 to 9676
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   9677 non-null   int64
 1   productId    9677 non-null   int64
 2   productName  9677 non-null   object
 3   brandName    9677 non-null   object
 4   url          9677 non-null   object
 5   price        9677 non-null   float64
 6   stockState   9677 non-null   object
 7   comingSoon   9677 non-null   bool
 8   colorName    9677 non-null   object
 9   isOnline     9677 non-null   bool
 10  colors       9677 non-null   object
 11  colorShades  6511 non-null   object
 12  newArrival   9677 non-null   bool
 13  mainCatCode  9677 non-null   object
 14  details      9676 non-null   object
 15  materials    9518 non-null   object
dtypes: bool(3), float64(1), int64(2), object(10)
memory usage: 1011.3+ KB
-----

Estadísticas descriptivas:

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,9677.0,4.838000e+03,2.793654e+03,0.000000e+00,2.419000e+03,4.838000e+03,7.257000e+03,9.676000e+03
productId,9677.0,1.188702e+09,1.206040e+08,1.077270e+08,1.198945e+09,1.230524e+09,1.244770e+09,1.280785e+09
price,9677.0,3.421509e+01,2.826266e+01,3.990000e+00,1.899000e+01,2.999000e+01,3.999000e+01,4.690000e+02

In [4]:
df_prod = df_prod.drop(columns=['Unnamed: 0'])

In [5]:
df_prod['materials'].sample(5)

9033    COMPOSITION\nShell:Polyamide 85%, Spandex 15%\...
5166    COMPOSITION\nShell:Cotton 60%, Polyester 40%\n...
1513    COMPOSITION\nCotton 100% , Material:\nCotton ,...
13      COMPOSITION\nSole:Thermoplastic rubber 100%\nL...
2716    COMPOSITION\nShell:Polyester 87%, Wool 13%\nLi...
Name: materials, dtype: object

In [6]:
#Crear bucle para que cuando 'organic', 'recycled' lo marque

df_prod['recycled'] = df_prod['materials'].apply(
    lambda x: 'Yes' if 'recycled' in str(x).lower() else 'No')

In [7]:
df_prod['organic'] = df_prod['materials'].apply(
    lambda x: 'Yes' if 'organic' in str(x).lower() else 'No')

In [8]:
df_prod['recycled'].value_counts()

recycled
Yes    5869
No     3808
Name: count, dtype: int64

In [9]:
df_prod['organic'].value_counts()

organic
No     9522
Yes     155
Name: count, dtype: int64

In [10]:
df_prod['colorName']

0                  Black
1                  Black
2                  Black
3              Dark blue
4                  White
              ...
9672               Beige
9673    Light denim blue
9674         Powder pink
9675         Beige/black
9676               Brown
Name: colorName, Length: 9677, dtype: object

In [11]:
#for columna in df_prod:
    #print(f'La columna {columna} tiene estos valores únicos:')
    #print(df_prod[columna].unique())
    #print('----------------------------')

In [12]:
#Quitamos isOnline porque solo tiene un valor único
df_prod = df_prod.drop(columns='isOnline')

In [13]:
df_prod.columns

Index(['productId', 'productName', 'brandName', 'url', 'price', 'stockState',
       'comingSoon', 'colorName', 'colors', 'colorShades', 'newArrival',
       'mainCatCode', 'details', 'materials', 'recycled', 'organic'],
      dtype='object')

In [14]:
df_prod["mainCatCode"].value_counts()

mainCatCode
ladies_cardigansjumpers_jumpers         361
men_shirts_casual                       250
ladies_dresses_shortdresses             170
ladies_tops_longsleeve                  164
ladies_tops_shortsleeve                 162
                                       ...
sportswear_men_activity_hiking            1
beauty_brushestools_skincaretools         1
men_hoodiessweatshirts                    1
ladies_shoes                              1
sportswear_women_clothing_tops_tanks      1
Name: count, Length: 355, dtype: int64

In [15]:

# Separar la columna 'categoria' por el carácter "_" en columnas nuevas
df_split = df_prod["mainCatCode"].str.split("_", expand=True)

# Renombrar las nuevas columnas con nombres genéricos
df_split.columns = [f"nivel_{i+1}" for i in range(df_split.shape[1])]

# Unir al DataFrame original 
df_prod= pd.concat([df_prod, df_split], axis=1)

In [16]:
df_prod[['nivel_1', 'nivel_2', 'nivel_3', 'nivel_4', 'nivel_5']].sample(10)

     nivel_1           nivel_2      nivel_3     nivel_4 nivel_5
1548     men      jacketscoats      jackets        None    None
768      men  cardigansjumpers    cardigans        None    None
4859  ladies          swimwear    swimsuits        None    None
9132  ladies            basics         tops       vests    None
3953  ladies            basics         tops  longsleeve    None
2886  ladies              tops  shortsleeve        None    None
3477  ladies       accessories      scarves        None    None
92       men             shoes      loafers        None    None
9068  ladies              tops      printed     tshirts    None
6531  ladies              tops   longsleeve        None    None

In [17]:
df_prod['nivel_1'].value_counts()

nivel_1
ladies        6395
men           2236
sportswear     566
beauty         226
Ladies         181
MEN             55
home            13
kids             5
Name: count, dtype: int64

In [18]:
# eliminar los tres ultimos niveles porque no aportan info relevante en este caso
cols_to_drop = df_prod.columns[-3:] 
df_sin_ultimos_niveles = df_prod.drop(columns=cols_to_drop)

In [19]:
df_prod = df_sin_ultimos_niveles

In [20]:
lista = ['nivel_1', 'nivel_2']
for col in lista:
    df_prod[col] = df_prod[col].str.capitalize()

In [21]:
# Lista para renombrar las columnas
columnas = ['productId', 'productName', 'brandName', 'url', 'price', 'stockState',
       'comingSoon', 'colorName', 'colors', 'colorShades', 'newArrival',
       'mainCatCode', 'details', 'materials', 'recycled', 'organic',
       'costumerSegment', 'productType']

In [22]:
df_prod.columns = columnas

In [23]:
df_prod.columns

Index(['productId', 'productName', 'brandName', 'url', 'price', 'stockState',
       'comingSoon', 'colorName', 'colors', 'colorShades', 'newArrival',
       'mainCatCode', 'details', 'materials', 'recycled', 'organic',
       'costumerSegment', 'productType'],
      dtype='object')

In [24]:
import re

In [25]:
# Función para extraer TODOS los porcentajes de materiales reciclados
def extract_recycled_percentages(text):
    if pd.isna(text):
        return []
    
    # Buscar todos los patrones: "X% Recycled [material]"
    matches = re.findall(r"(\d+)%\s*Recycled\s*([a-zA-Z\s-]+)", text)
    
    # Convertir a lista de diccionarios: [{"material": "cotton", "percent": 1.0}, ...]
    results = []
    for percent, material in matches:
        results.append({
            "material": material.strip().lower(),
            "percent": float(percent)
        })
    
    return results

# Aplicar la función y crear nuevas columnas
df_prod["recycled_materials"] = df_prod["materials"].apply(extract_recycled_percentages)

# Calcular el porcentaje TOTAL de reciclado por producto
df_prod["total_recycled_percent"] = df_prod["recycled_materials"].apply(
    lambda x: sum(item["percent"] for item in x) if x else 0.0
)

# Filtrar productos con bajo % de reciclado (ej. < 10%)
low_recycled = df_prod[df_prod["total_recycled_percent"] < 100]

# Mostrar resultados
print(f"Productos con menos del 10% de material reciclado: {len(low_recycled)}")
print(low_recycled[["productId", "total_recycled_percent"]].head())

Productos con menos del 10% de material reciclado: 9295
    productId  total_recycled_percent
0   834333001                    38.0
1  1258600003                    37.0
2  1036812001                    33.0
3  1112924002                    69.0
4  1119476020                    16.0

In [26]:
low_recycled[["productId", "total_recycled_percent", 'materials']].head(10)

,productId,total_recycled_percent,materials
0,834333001,38.0,COMPOSITION\nSole:Thermoplastic rubber 100%\nU...
1,1258600003,37.0,COMPOSITION\nLining:Polyester 100%\nUpper:Poly...
2,1036812001,33.0,COMPOSITION\nLining and insole:Cotton 100%\nUp...
3,1112924002,69.0,COMPOSITION\nLining:Polyester 100%\nUpper:Poly...
4,1119476020,16.0,COMPOSITION\nLining:Polyester 100%\nUpper:Poly...
5,1119476021,19.0,COMPOSITION\nLining:Polyester 100%\nSole:Rubbe...
6,1238685001,55.0,COMPOSITION\nLining:Cotton 100%\nLining:Polyur...
7,1072672004,45.0,COMPOSITION\nUpper:Polyurethane 100%\nSole:The...
8,1250120001,32.0,COMPOSITION\nLining:Cotton 100%\nSole:Rubber 1...
9,1250116001,15.0,COMPOSITION\nLining:Polyurethane 100%\nLining:...

In [27]:
df_prod.columns

Index(['productId', 'productName', 'brandName', 'url', 'price', 'stockState',
       'comingSoon', 'colorName', 'colors', 'colorShades', 'newArrival',
       'mainCatCode', 'details', 'materials', 'recycled', 'organic',
       'costumerSegment', 'productType', 'recycled_materials',
       'total_recycled_percent'],
      dtype='object')

In [28]:
def camel_to_snake(name):
    name = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', name)
    name = re.sub('([a-z0-9])([A-Z])', r'\1_\2', name)
    return name.lower()

In [29]:
df_prod.columns = [camel_to_snake(col) for col in df_prod.columns]

In [30]:
df_prod.columns

Index(['product_id', 'product_name', 'brand_name', 'url', 'price',
       'stock_state', 'coming_soon', 'color_name', 'colors', 'color_shades',
       'new_arrival', 'main_cat_code', 'details', 'materials', 'recycled',
       'organic', 'costumer_segment', 'product_type', 'recycled_materials',
       'total_recycled_percent'],
      dtype='object')

In [31]:
df_prod.to_csv('../files/clean_brand_products.csv', index=False)